html, body {
   margin: 0;
   height: 100%;
   width: 100%;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

body.chroma {
   background: linear-gradient(
      #9c2512,
      #ce120c,
      #d37d1b,
      #e3e81d,
      #90d117,
      #08911e,
      #079ba3,
      #383bd1,
      #6212bd,
      #61094e
   );
   background-size: 1800% 1800%;
   animation: rainbow 10s ease-in-out infinite;
}

body.devroom {
   background-color: black;
}

@keyframes rainbow { 
   0% { background-position: 0% 0% }
   50%{ background-position: 0% 100% }
   100%{ background-position: 0% 0% }
}

img {
   user-select: none;
   pointer-events: none;
   image-rendering: crisp-edges;
}

#times-visited {
   margin-top: 10vh;
   font-family: Menlo, Consolas, monospace;
   font-size: 6vw;
}
