html, body {
   margin: 0;
   height: 100%;
   width: 100%;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

body.chroma {
   animation: rainbow 10s ease-in-out infinite;
}

body.devroom {
   background-color: black;
}

@keyframes rainbow {
   0% {
      background-color: #9c2512;
   }
   10% {
      background-color: #ce120c;
   }
   20% {
      background-color: #d37d1b;
   }
   30% {
      background-color: #e3e81d;
   }
   40% {
      background-color: #90d117;
   }
   50% {
      background-color: #08911e;
   }
   60% {
      background-color: #079ba3;
   }
   70% {
      background-color: #383bd1;
   }
   80% {
      background-color: #6212bd;
   }
   90% {
      background-color: #61094e;
   }
   100% {
      background-color: #9c2512;
   }
}

img {
   user-select: none;
   pointer-events: none;
   image-rendering: crisp-edges;
}

#times-visited {
   margin-top: 10vh;
   font-family: Menlo, Consolas, monospace;
   font-size: 6vw;
}
